# ESP32-S3-LCD-EV-Board（480x480），母板 V1.5
# 与 sdkconfig.defaults + sdkconfig.defaults.esp32s3 叠加使用。
CONFIG_BOARD_TYPE_ESP_S3_LCD_EV_Board=y
CONFIG_ESP_S3_LCD_EV_Board_1p5=y
CONFIG_USE_DEVICE_AEC=y
CONFIG_USE_DEFAULT_MESSAGE_STYLE=y
CONFIG_USE_CUSTOM_WAKE_WORD=y
CONFIG_CUSTOM_WAKE_WORD="ni hao xiao lu"
CONFIG_CUSTOM_WAKE_WORD_DISPLAY="你好小鹿"
CONFIG_CUSTOM_WAKE_WORD_THRESHOLD=20
CONFIG_SR_MN_CN_MULTINET6_QUANT=y
