CONFIG_BOARD_TYPE_AIPET_ESP32_S3_V101=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_OTA_URL="http://39.107.143.71:8002/xiaozhi/ota/"
CONFIG_USE_DEVICE_AEC=y
CONFIG_FLASH_NONE_ASSETS=y
